<div class="jumbotron jumbotron_fluid">
	<% puts item.to_json %>
	<% header_subject = item.payload.headers.detect {|header| header.name.eql? 'Subject'}%>

	<h2><%= header_subject.value %></h2>
	<small><em><%= Time.at(item.internal_date) %></em></small>
	<br>
	<small> <%= item.label_ids %></small>
	<p> <%= item.snippet %> </p>

</div>