<% provide(:title, "Messages") %>

<header class = 'navbar navbar-default'>



	<div class="container">

		<ul class="nav navbar-nav nav-tabs">
			<% if current_user.admin %>
				<li class="tab-item" data-click-path='/messages/page/new/'>
					<a class="btn disabled nav-link disable_anchor" href="">New Messages</a>
				</li>
			<% end %>
			<li class="tab-item" data-click-path='/messages/page/pending/'>
				<a class="btn disabled nav-link  disable_anchor" href="#" disabled>Pending Messages</a>
			</li>
			<li class="tab-item" data-click-path='/messages/page/replied/'>
				<a class="btn disabled nav-link  disable_anchor" href="#" disabled>Replied Messages</a>
			</li>
		</ul>
		
	</nav>

		

</header>

<div id="div_messages">
	<%= render @messages_db %>
</div>

<div id="pagination" data-pagination-endpoint='<%=@endpoint%>'>
	
</div>