<h1><%= @subject %></h1>

<div>
	
	<div>
		<p>From : <%= @from %></p>
	</div>
	
	<div>
		<p>Time : <%= @date %></p>
	</div>
	
	<div>
		<p>Message : </p>
		<iframe src="<%= @path %>"></iframe>
	 </div>
	
</div>